{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Login | Private Diary{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-7">
        <div class="card p-4 mt-5">
            <h2 class="mb-4 text-center">Login to your Diary</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="mb-3">
                    {{ form.username.label_tag }}
                    {{ form.username|add_class:"form-control" }}
                </div>
                <div class="mb-3">
                    {{ form.password.label_tag }}
                    {{ form.password|add_class:"form-control" }}
                </div>
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>
            <div class="text-center mt-3">
                Don't have an account? <a href="{% url 'register' %}">Register here</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}